<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="security-nav-tabs(activeTab)">
    <li class="nav-item btn-gr" th:if="${@auth.hasGlobalPrivilege('canAccessGlobalSettings')}">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'users' ? 'btn-primary' : 'btn-white'}" th:href="${@url.users()}" th:text="#{template.users}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'organizations' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allOrganizations()}" th:text="#{template.organizations}"></a>
    </li>
    <li class="nav-item" th:if="${@auth.hasGlobalPrivilege('canAccessGlobalSettings')}">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'roles' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allRoles()}" th:text="#{template.roles}"></a>
    </li>
    <li class="nav-item" th:if="${@auth.hasGlobalPrivilege('canManageBackend') && #arrays.contains(@environment.getActiveProfiles(),'development')}">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'privileges' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allPrivileges()}" th:text="#{template.privileges}"></a>
    </li>
</ul>

<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="reporting-nav-tabs(activeTab)">
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'reports' ? 'btn-primary' : 'btn-white'}" th:if="${@auth.hasGlobalOrOrgPrivilege('canReadReports',organizationEntityId)}"
           th:href="${#strings.contains(currentUri,'organization') ? @url.allQueryReports(organizationEntityId) : @url.allQueryReports(null)}" th:text="#{template.reports}"></a>
    </li>
    <li class="nav-item" th:if="${@auth.hasGlobalOrOrgPrivilege('canReadReports',organizationEntityId) and @auth.hasGlobalOrOrgPrivilege('canUseReportingAI',organizationEntityId) and #arrays.contains(@environment.getActiveProfiles(),'development')}">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'reporting-ai' ? 'btn-primary' : 'btn-white'}" th:href="${#strings.contains(currentUri,'organization') ? @url.aiReporting(organizationEntityId) : @url.aiReporting(null)}" th:text="#{template.reportingAi}"></a>
    </li>
</ul>

<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="configuration-nav-tabs(activeTab)">
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'files' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allFiles()}" th:text="#{template.files}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'resources' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allFrontendResource()}" th:text="#{template.frontendResources}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'components' ? 'btn-primary' : 'btn-white'}" th:href="${@url.components()}" th:text="#{template.components}"></a>
    </li>
</ul>


<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="automation-nav-tabs(activeTab)">
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'schedulers' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allSchedulers()}" th:text="#{template.schedulers}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'event-listeners' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allEventListeners()}" th:text="#{template.eventListeners}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'custom-events' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allCustomEvents()}" th:text="#{template.customEvents}"></a>
    </li>
</ul>

<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="log-monitoring-nav-tabs(activeTab)">
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'audit' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allAudit()}" th:text="#{template.audit}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'logs' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allLogs()}" th:text="#{template.logs}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'system-health' ? 'btn-primary' : 'btn-white'}" th:href="${@url.systemHealth()}" th:text="#{template.systemHealth}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'threads' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allThreads()}" th:text="#{template.threads}"></a>
    </li>
</ul>

<ul class="nav nav-tabs dashboard-nav mb-4" th:fragment="documents-nav-tabs(activeTab)" th:if="${@auth.hasGlobalOrOrgPrivilege('canUseDocumentGenerator',organizationEntityId) and #arrays.contains(@environment.getActiveProfiles(),'documents')}">
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'documentTemplates' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allDocumentTemplates(organizationEntityId)}" th:text="#{template.documentTemplates}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'placeholders' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allPlaceholders(organizationEntityId)}" th:text="#{template.placeholders}"></a>
    </li>
    <li class="nav-item">
        <a th:class="'btn btn-sm mr-2 ' + ${activeTab == 'documents' ? 'btn-primary' : 'btn-white'}" th:href="${@url.allDocuments(organizationEntityId)}" th:text="#{template.documents}"></a>
    </li>
</ul>
</html>