<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{${defaultLayout}}">
<body>
<div class="container-fluid">
    <div layout:fragment="content" th:attr="data-menu-item='page-builder'">
        <script src="/vendor/gridstack/gridstack-all.js"></script>
        <link href="/vendor/gridstack/gridstack.min.css" rel="stylesheet" />
        <link href="/vendor/gridstack/gridstack-extra.min.css" rel="stylesheet" />
        <style>
            .grid-stack { border: 1px dashed #dcdcdc; margin-top: 1rem; height: 60rem; border-radius: 0.75rem;}
            .grid-stack-item-content { border: 1px solid #18B2C6; }
            .trash {
                background-color: #D1F0F4;
                max-width: 8rem;
                max-height: 8rem;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            .trash:hover {background-color: #18B2C6;}
            .trash i {font-size: 2rem;}
            iframe.embedded-iframe {
                border: 0;
                border-top: solid 20px #18B2C6;
                padding: 0; margin: 0; width: 100%; height: 100%;
                background-color: #fff;
            }

            img.embedded-image {
                border: 0;
                padding: 2rem .5rem .5rem .5rem; margin: 0; width: 100%; height: 100%;
                background-color: #fff;
                max-height:100%;
                max-width:100%;
                object-fit: contain;
            }

            .grid-stack>.grid-stack-item>.grid-stack-item-content {
                overflow-y: hidden;
            }
        </style>

        <div class="row">
            <div class="col-12">
                <div class="card shadow first-card">
                    <div class="card-header py-3 d-flex flex-row">
                        <div class="card-header-buttons">
                            <a class="btn btn-sm btn-primary" href="view" target="_blank">View</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:method="post" th:object="${pageBuilderForm}">
                            <th:block th:replace="~{forms::csrf}"/>
                            <input type="hidden" name="dto.content"/>
                            <div class="row">
                                <div class="col-12">
                                    <input th:replace="forms::text-simple-with-value('dto.name', *{dto.name}, #{frontendResource.name.label}, 'my-dashboard')"/>
                                </div>
                            </div>

                            <h6 class="card-subtitle mt-2 mb-2 text-muted"><th:block th:text="#{template.components.instruction}"></th:block></h6>

                            <div class="row">
                                <div th:replace="::multiselect-with-onclick-action(${embeddableComponents.tables}, 'getKey()', 'getKey()', null, #{template.tables}, 'addNewWidget', 'table', 'col-6')"/>
                                <div th:replace="::multiselect-with-onclick-action(${embeddableComponents.frontendResources}, 'getKey()', 'getValue()', null, #{template.frontendResources}, 'addNewWidget', 'frontendResource', 'col-6')"/>
                            </div>
                            <div class="row">
                                <div th:replace="::multiselect-with-onclick-action(${embeddableComponents.uiComponents}, 'getKey()', 'getValue()', 'v2()', #{template.widgets}, 'addNewWidget', 'webEndpoint', 'col-6')"/>
                                <div th:replace="::multiselect-with-onclick-action(${embeddableComponents.images}, 'id', 'url', null, #{template.images}, 'addNewWidget', 'image', 'col-6')"/>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-primary btn-submit" onclick="savePage(this.form)" type="button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack preview"></div>
        <script type="text/javascript" th:inline="javascript">
            let fitHeightCheckbox = '<div class="fitHeightCheckbox"><input type="checkbox" onclick="switchFitHeight(this)"/><label class="checkbox-label">Fit height to content</label></div>';
            addNewWidget = function(id, name, label, type) {
                if($('[gs-id="' + id + '"]').length === 0) {
                    let content = "";
                    let generate = true;
                    if (type === "frontendResource") {
                        content = `<div class="embedded-preview embedded-frontendResource"><div class="embedded-preview-title">Frontend Resource: ${label}</div>` +
                            `<div>Edit here: <a target="_blank" href="../../frontendresource/${id}/settings">${name}</a></div>` + fitHeightCheckbox + '</div>';
                    } else if (type == "webEndpoint") {
                        content = `<div class="embedded-preview embedded-webEndpoint"><div class="embedded-preview-title">Widget: ${label}</div>` +
                            `<div>View here: <a target="_blank" href="../../cn/${name}">${name}</a></div>` + fitHeightCheckbox + '</div>';
                    } else if (type == "table") {
                        content = `<div class="embedded-preview embedded-table"><div class="embedded-preview-title">Table: ${name}</div>` +
                            `<div>View here: <a target="_blank" href="../../${id}/all">${name}</a></div>` + fitHeightCheckbox + '</div>';
                    } else if (type == "image") {
                        let src = "/html/file/" + id + "/content";
                        content = `<img class="embedded-image dashboard-widget" src="${src}"/>`;
                        generate = false;
                    }
                    content = `<i class="fas fa-xmark dashboard-widget-x" data-id="${id}"></i>` + content;
                    let w = grid.addWidget({w:2, h:2, fitHeight: false, content: content, id: id, name: name, type: type, generate: generate});
                    registerClick();
                } else {
                    removeWidget(id);
                }
            };
            let items = /*[[${ frontendResourceEntity?.content == null ? '[]' : frontendResourceEntity.content }]]*/ '[]';
            items = JSON.parse(items);
            let grid = GridStack.init({cellHeight: '140px', column: 6, styleInHead: true, removable: '.trash', resizable: {handles: 'se,nw'}});
            grid.load(items);
            $('.embedded-preview:not(:has(.fitHeightCheckbox))').append(fitHeightCheckbox);

            $( document ).ready(function() {
                let itemsGrouped = Object.groupBy(items, ({ type }) => type);
                Object.keys(itemsGrouped).forEach(key => {
                    let items = itemsGrouped[key];
                    let selectPickerForType = $('#select-' + key);
                    $(selectPickerForType).val(items.map(i => i.id));
                    $(selectPickerForType).selectpicker('refresh');
                });
	            registerClick();
            });

            grid.on('removed', function(event, items) {
                items.forEach(function(item) {
                    $('#select-' + item.type + ' option[value="' + item.id + '"]').prop("selected", false);
                    $('#select-' + item.type).selectpicker('refresh');
                });
            });

            savePage = function(form) {
                form["dto.content"].value = JSON.stringify(grid.save(true, false));
                form.submit();
            }

            registerClick = function () {
                $('i.dashboard-widget-x').on("click", function (e) {
                    removeWidget($(this).attr('data-id'));
                })
            }

            switchFitHeight = function(checkbox) {
                let gridItem = $(checkbox).closest('.grid-stack-item');
                checkbox.checked ? checkbox.setAttribute('checked', 'true') : checkbox.removeAttribute('checked')
                // let e = $('[gs-id="' + id + '"]').get(0);
                grid.update(gridItem.get(0), {fitHeight: checkbox.checked});
            }

            removeWidget = function (id) {
                grid.removeWidget($('[gs-id="' + id + '"]').get(0));
            }

        </script>

    </div>
    <div th:fragment="multiselect-with-onclick-action(optionsList, getKey, getValue, getDisplayName, label, onclick, identifier, addedCss)" th:class="'form-group ' + ${addedCss}">
        <div th:replace="~{forms::label-simple('', ${label})}"></div>
        <select th:id="'select-' + ${identifier}" class="selectpicker form-control" multiple data-live-search="true" th:title="#{template.dropdown.select}">
            <option th:each="entry : ${optionsList}" th:value="${entry.__${getKey}__}" th:data-name="${entry.__${getValue}__}" th:text="${getDisplayName != null ? entry.__${getDisplayName}__ : entry.__${getValue}__}"
                    th:data-content="${identifier == 'image' ? '<img class=option-img src=' + entry.__${getValue}__ + '></img>' : ''}"></option>
        </select>
        <script type="text/javascript" th:inline="javascript">
            $( document ).ready(function() {
                let identifier = /*[[${ '' + identifier + '' }]]*/ '';
                $('#select-' + identifier).selectpicker();
                $('#select-' + identifier).on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                    let clickedOption = $(this).find('option').eq(clickedIndex);
                    let id = clickedOption.val();
                    let label = clickedOption.text();
                    let name = clickedOption.attr('data-name');
                    let onclickFunction = /*[(${ '' + onclick + '' })]*/ null;
                    onclickFunction(id, name, label, identifier);
                });
            });
        </script>
    </div>
</div>
</body>
</html>